@font-face {
    font-family: 'Roboto normal';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf")  format("truetype")
}
@font-face {
    font-family: 'Roboto bold';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url("../fonts/Roboto/Roboto-Bold.ttf")  format("truetype")
}