.footer-row {
  background-color: $color_footer-bg;
}
.footer__items {
  @include dspFlex;
  flex-wrap: wrap;
  color: $color_footer-text;
  justify-content: space-around;
  padding: 35px 0;
  h2 {
    margin-bottom: 30px;
    text-align: left;
  }
  a {
    color: $color_footer-text;
    display: block;
  }
}
.footer__contact,
.footer__infoBlock,
.footer__logo {
  max-width: 255px;
}
.footer__logo{
  img {
    max-width: 250px;
  }
  padding: 10px 10px 0;
}
.footer__infoBlock {
  p {
    max-width: 310px;
    line-height: 22px;
  }
}
.footer__contact {
  text-align: left;
}
.footer__contact-descriptions {
  @include dspFlex;
  flex-direction: column;
}
.footer__row-mail,
.footer__row-phone,
.footer__row-location {
  padding: 0 0 25px 40px;
  position: relative;
  letter-spacing: 0.75px;
}
.footer__row-mail::before {
  content: url(../img/contacts_icon/mail.png);
}
.footer__row-location::before {
  content: url(../img/contacts_icon/icon_location.png);
}
.footer__row-phone::before {
  content: url(../img/contacts_icon/phone.png);
}
.footer__row-mail::before,
.footer__row-location::before,
.footer__row-phone::before {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-row__down {
  padding: 40px 20px 20px;
  color: $color_footer-signature;
  font-weight: bold;
}
.footer__row-mail a,
.footer__row-phone a {
  @include transition;
  &:hover {
    @include textShadow;
  }
}
.footer__social {
  @include dspFlex;
  a {
    img {
      border-radius: 50%;
      margin: 0 10px;
      @include transition;
      &:hover {
        @include instaShadow;
      }
    }
  }
}
