// mobile-menu
.burger,
.laptop_hiden,
.mobile__show {
  display: none;
}
.header {
  color: $color_white;
  background-image: url(../img/background/bg1.jpg);
  background-position: center top;
  width: 100%;
  min-height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
}
.dojd {
  background-image: url(../img/background/bg2.jpg);
}
.kaplya {
  background-image: url(../img/background/bg3.jpg);
}
.tuman{
  background-image: url(../img/background/bg4.jpg);
}
.lighting{
  background-image: url(../img/background/bg6.jpg);
}
.about_us{
  background-image: url(../img/background/bg5.jpg);
}
// end mobile-menu
.header-row,
.header__top-row,
.header__down-row,
.menu-items,
.heading-description {
  @include dspFlex;
}
.header-row {
  padding: 42px 0px;
  justify-content: space-around;
}
.header__logo {
  a {
    img {
      max-width: 250px;
    }
  }
}

.menu-items {
  font-size: 1.5em;
  position: relative;
  .sub_menu {
    display: none;
    position: absolute;
    background-color: $color_sub-menu;
    padding: 20px 15px;
    border-radius: 2px;
    li {
      text-align: left;
      width: 100%;
      line-height: 35px;
    }
  }
  li {
    text-align: center;
    margin: 0 20px;
    a {
      color: $color_white;
      display: inline-block;
      @include transition;
      &:hover {
        @include textShadow;
      }
    }
  }
}
.header-phone {
  a {
    color: $color_white;
    font-size: 1.5em;
    @include transition;
    &:hover {
      @include textShadow;
    }
  }
}
.heading {
  margin: 45px auto 60px;
  h1 {
    font-size: 3.125em;
    text-align: center;
    @include textShadow;
    text-transform: uppercase;
  }
}
.heading-description {
  @include textShadow;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Roboto bold";
  padding: 0 50px 61px;
  @include dspFlex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header__btn {
  @include dspFlex;
  justify-content: center;
  width: 70%;
  button {
    width: 362px;
    height: 90px;
    border-radius: 20px;
    font-size: 1.5rem;
    @include button;
  }
}
