@mixin dspFlex {
  display: flex;
}
@mixin transition {
  transition: all 0.5s ease;
}
@mixin transition-modal {
  transition: all 0.2s ease-in-out;
}
@mixin input {
  border-radius: 5px;
  max-width: 365px;
  width: 100%;
  padding: 18px 0 18px 35px;
  margin-bottom: 11px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  color: #666060;
  outline: none;
}

@mixin textShadow {
  text-shadow: 0px 4px 7px rgb(0, 0, 0);
}

@mixin instaShadow {
  box-shadow: 0px 0px 5px 5px $color_orange;
}
@mixin boxShadow_product {
  box-shadow: 0px 0px 30px 0px rgba(37, 25, 2, 0.33);
}