@import "_mixin";
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto normal";
  font-size: 16px;
  color: #333333;
}
.conteiner {
  max-width: $widthContent;
  margin: 0 auto;
  padding: 0 10px;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  border: 0;
  max-width: 100%;
}
h2{
  font-size: 3.125em;
  text-align: center;
}
.lock {
  overflow: hidden;
}