// width
$widthContent: 1360px;
// colors
$color_white: rgba(255, 255, 255, 100%);
$color_orange: rgb(255, 124, 2);
$color_footer-bg: rgba(36, 123, 40, 100%);
$color_sub-menu: rgba(36, 123, 40, 0.8);
$color_location-modal: rgba(230, 230, 230, 100%);
$color_danger: rgba(255, 0, 0, 100%);
$color_footer-text: rgba(255, 255, 255, 100%);
$color_footer-signature: rgba(51, 51, 51, 100%);
$color_advatages-block: rgba(247, 247, 247, 1);
$color_burger-menu: rgba(255, 255, 255, 100%);
