#cardProduct {
  .head {
    h1 {
      width: 100%;
      text-align: left;
      padding-left: 10px;
      &::after,
      &::before {
        content: none;
      }
    }
  }
}
.cardProduct__content {
  .options {
    @include dspFlex;
    justify-content: space-between;
    margin-bottom: 50px;
    .left__options,
    .rigth__options {
      flex: 0 1 50%;
    }
    .left__options {
      position: relative;
      .magnifier_btn {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 6;
        @include transition;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
      .slider__img {
        padding: 5px;
        background-color: $color_white;
      }
      .slider-for {
        margin-bottom: 20px;
        width: 100%;
        max-width: 580px;
        img {
          width: 100%;
          max-width: 580px;
          max-height: 450px;
        }
      }
      .slider-nav {
        .slick-prev:before,
        .slick-next:before {
          padding: 4px 13px;
          font-size: 32px;
        }
        .slick-prev,
        .slick-next {
          top: 45%;
        }
        .slick-next {
          right: -25px;
        }
        .slick-prev {
          left: -50px;
        }
        width: 350px;
        margin: 0 auto;
        .slick-current {
          border: 5px solid $color_circle-advantage;
          border-radius: 5px;
          &.slider__img {
            padding: 0;
          }
        }
        .slider__img {
          width: 110px !important;
          margin: 3.5px;
          img {
            width: 100px;
            height: 80px;
          }
        }
      }
    }
  }
}

.characteristics,
.price__options {
  background-color: $color_white;
  padding: 20px 30px;
  margin: 0 0 20px;
  font-weight: bold;
  h4 {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  ul {
    li {
      display: block;
      @include dspFlex;
      padding: 0 0 15px;
      .description__name {
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 107%;
          right: -9999px;
          bottom: 0;
          top: 0;
          border-bottom: 1px solid $color_btn-bg;
          opacity: 0.35;
        }
      }
      .description__left {
        overflow: hidden;
        width: 86%;
      }
      .description__quantity {
        color: $color_text-p;
        margin: 0 5px;
      }
    }
  }
}
.price__options {
  .description__quantity {
    strong {
      color: $color_circle-advantage;
    }
  }
  .btn_switcher,
  .btn_conteiner {
    @include dspFlex;
    justify-content: space-between;
  }
  .btn {
    @include btn;
    width: 115px;
    height: 40px;
    border-radius: 5px;
    text-transform: inherit;
    background-color: $color_white;
    color: $color_btnPopular-bg;
    border: 2px solid $color_btnPopular-bg;
    margin-right: 10px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .uk-active {
    .btn {
      background-color: $color_btnPopular-bg;
      color: $color_white;
    }
  }
}
.order__btn {
  .btn {
    @include btn;
    width: 240px;
    height: 50px;
    background-color: $color_btnPopular-bg;
    color: $color_white;
    border: 2px solid $color_btnPopular-bg;
    border-radius: 0;
    &:hover {
      transform: scale(1);
    }
  }
}
.specifications__btn_item {
  @include dspFlex;
  border-bottom: 4px solid $color_circle-advantage;
  .item {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5px;
    color: $color_circle-advantage;
    background-color: $color_white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 2px solid $color_circle-advantage;
    border-bottom: none;
    @include transition;
  }
  .uk-active {
    &.item {
      color: $color_white;
      background-color: $color_circle-advantage;
    }
  }
}
.specifications {
  h4 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .specifications__description {
    .content {
      li {
        font-weight: bold;
        padding: 10px 0;
        &:nth-child(2n) {
          background-color: $color_white;
        }
      }
    }
  }
  .map {
    margin: 20px auto 0;
  }
}
.specifications__description {
  .content {
    ul {
      li {
        @include dspFlex;
        flex-wrap: wrap;
        .description__name {
          display: inline-block;
          position: relative;
        }
        .description__left {
          overflow: hidden;
          width: 30%;
        }
        .description__quantity {
          color: $color_text-p;
          font-weight: normal;
          width: 70%;
          strong {
            color: $color_link-active;
          }
        }
      }
    }
  }
}
.description__additions {
  @include dspFlex;
  .left,
  .right {
    flex: 0 1 50%;
    margin: 0 5px;
  }
}
.btn_after {
  margin: 40px auto 0;
  text-align: center;
  padding-bottom: 50px;
}

//  caed-product advantages
#advantages {
  .video {
    width: 560px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }
  }
  .content {
    @include dspFlex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    .left_content,
    .right__content {
      margin: 0 10px;
    }
    .head {
      h5 {
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: center;
        margin: 30px auto;
        font-weight: bold;
        color: $color_black;
      }
    }
  }
  .advantages__items {
    .item {
      width: 100%;
      max-width: 280px;
      flex-direction: row;
      align-items: center;
      margin: 11.5px 0;
      .item__img {
        background-color: $color_circle-advantage;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include dspFlex;
        justify-content: center;
        align-items: center;
        margin: 0;
        img {
          width: 20px;
        }
      }
      .item__description {
        width: 70%;
        text-align: left;
        font-weight: normal;
        font-size: 0.9em;
        margin: auto;
        margin-left: 20px;
      }
    }
  }
}
// section recommended
#recommended {
  #tab__slider-1 {
    .slider__item {
      max-width: 277px;
      margin: 0 9px;
      padding: 5px;
      background-color: $color_white;
      .item__img {
        overflow: hidden;
        img {
          width: 270px;
          height: 210px;
          object-fit: cover;
          @include transition;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .description__option {
        ul {
          @include dspFlex;
          justify-content: space-around;
          margin: 20px 0;
        }
        .btn {
          @include btn;
          width: 115px;
          height: 40px;
          border-radius: 5px;
          text-transform: inherit;
          background-color: $color_white;
          color: $color_btnPopular-bg;
          border: 2px solid $color_btnPopular-bg;
          &:hover {
            transform: scale(1.1);
          }
        }
        .uk-active {
          button {
            background-color: $color_btnPopular-bg;
            color: $color_white;
          }
        }
      }
    }
    .description__text {
      text-align: center;
      .name__house {
        width: 190px;
        margin: 0 auto 10px;
      }
      .price__now {
        color: $color_pseudo-el;
        margin: 0 auto 5px;
      }
      .price__house {
        font-size: 1.5em;
        margin: 0 auto 10px;
      }
      .size__house {
        margin: 0 auto 20px;
      }
    }
    .more__details-btn {
      text-align: center;
      margin: 0 auto 15px;
      .btn {
        @include btn;
        width: 240px;
        height: 50px;
        padding: 13px 0 0;
        display: block;
        margin: 0 auto;
        &:hover {
          @include btn_hover;
        }
      }
    }
  }
}
