#filtr {
  .sizes,
  .type {
    ul {
      @include dspFlex;
      flex-wrap: wrap;
      li {
        margin: 0 5px;
        &:first-child {
          a {
            width: 100%;
            background-color: inherit;
            padding: 10px 8px 0 0;
            color: $color_black;
            cursor: inherit;
            &:hover {
              background-color: inherit;
            }
          }
        }
        a {
          display: block;
          width: 80px;
          height: 40px;
          background-color: $color_filtr-item;
          border-radius: 4px;
          margin: 10px 10px 10px 0px;
          padding: 10px 0;
          text-align: center;
          color: $color_pseudo-el;
          @include transition;
          &:hover {
            background-color: $color_filtr-item-hover;
          }
          &[aria-current="page"] {
            background-color: $color_filtr-item-hover;
            cursor: default;
          }
        }
      }
    }
  }
  .type {
    ul {
      li {
        &:first-child {
          a {
            padding: 10px 38px 0 0;
          }
        }
        a {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  .sortBy {
    margin: 10px 0;
    ul {
      @include dspFlex;
      flex-wrap: wrap;
      align-items: baseline;
      li {
        a {
          padding: 10px 0;
          margin: 0 10px;
          text-align: center;
          color: $color_pseudo-el;
        }
        &:nth-child(3)::after,
        &:nth-child(5)::after {
          content: url(../img/other/arrow_up.png);
        }
        &:nth-child(2)::after,
        &:nth-child(4)::after {
          content: url(../img/other/arrow_down.png);
        }
        &:first-child {
          a {
            width: 100%;
            color: $color_black;
            cursor: inherit;
            padding: 10px 0;
            margin: 0 5px;
          }
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.all-category-products {
  .slider__item {
    max-width: 277px;
    margin: 3px 9px;
    padding: 5px;
    background-color: $color_white;
    position: relative;
    @include living-house-area;
    @include boxShadow;
    .item__img {
      overflow: hidden;
      img {
        width: 270px;
        height: 210px;
        object-fit: cover;
        @include transition;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .description__option {
      ul {
        @include dspFlex;
        justify-content: space-around;
        margin: 20px 0;
        width: 100%;
      }
      .btn {
        @include btn;
        width: 115px;
        height: 40px;
        border-radius: 5px;
        text-transform: inherit;
        background-color: $color_white;
        color: $color_btnPopular-bg;
        border: 2px solid $color_btnPopular-bg;
        &:hover {
          transform: scale(1.1);
        }
      }
      .uk-active {
        button {
          background-color: $color_btnPopular-bg;
          color: $color_white;
        }
      }
    }
  }
  .description__text {
    text-align: center;
    .name__house {
      width: 190px;
      margin: 0 auto 10px;
    }
    .price__now {
      color: $color_pseudo-el;
      margin: 0 auto 5px;
    }
    .price__house {
      font-size: 1.5em;
      margin: 0 auto 10px;
    }
    .size__house {
      margin: 0 auto 20px;
    }
  }
  .more__details-btn {
    text-align: center;
    margin: 0 auto 15px;
    .btn {
      @include btn;
      width: 240px;
      height: 50px;
      padding: 13px 0 0;
      display: block;
      margin: 0 auto;
      &:hover {
        @include btn_hover;
      }
    }
  }
}
