#filtr {
  .sizes,
  .type {
    ul {
      @include dspFlex;
      flex-wrap: wrap;
      li {
        margin: 0 5px;
        &:first-child {
          a {
            width: 100%;
            background-color: inherit;
            padding: 10px 8px 0 0;
            color: $color_black;
            cursor: inherit;
            &:hover {
              background-color: inherit;
            }
          }
        }
        a {
          display: block;
          width: 80px;
          height: 40px;
          background-color: $color_filtr-item;
          border-radius: 4px;
          margin: 10px 10px 10px 0px;
          padding: 10px 0;
          text-align: center;
          color: $color_pseudo-el;
          @include transition;
          &:hover {
            background-color: $color_filtr-item-hover;
          }
          &[aria-current="page"] {
            background-color: $color_filtr-item-hover;
          }
        }
      }
    }
  }
  .type {
    ul {
      li {
        &:first-child {
          a {
            padding: 10px 38px 0 0;
          }
        }
        a {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  .sortBy {
    margin: 10px 0;
    ul {
      @include dspFlex;
      flex-wrap: wrap;
      align-items: baseline;
      li {
        a {
          padding: 10px 0;
          margin: 0 10px;
          text-align: center;
          color: $color_pseudo-el;
        }
        &:nth-child(3)::after,
        &:nth-child(5)::after {
          content: url(../img/other/arrow_up.png);
        }
        &:nth-child(2)::after,
        &:nth-child(4)::after {
          content: url(../img/other/arrow_down.png);
        }
        &:nth-child(3)::after,
        &:nth-child(5)::after,
        &:nth-child(2)::after,
        &:nth-child(4)::after {
        }
        &:first-child {
          a {
            width: 100%;
            color: $color_black;
            cursor: inherit;
            padding: 10px 0;
            margin: 0 5px;
          }
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
