.contacts__content,
.flex-coneiner {
  @include dspFlex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .left,
  .right {
    flex: 0 1 50%;
    padding: 0 0 50px;
    max-width: 550px;
    h3,
    h4,
    p {
      font-size: 1.125em;
      padding: 10px 0;
      margin: 0;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
  .map {
    overflow: inherit;
    iframe {
      width: 100%;
      height: 218px;
    }
  }
}

.contacts__form {
  @include dspFlex;
  justify-content: space-between;
  h6 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
}
.contacts__slider {
  width: 100%;
  max-width: 550px;
  .slider__item {
    max-width: 550px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
#contacts__form {
  width: 100%;
  max-width: 550px;
  padding-bottom: 30px;
  input,
  input[type="file"] {
    max-width: 255px;
  }
  input[type="file"] {
    font-size: 0.85em;
    padding: 8px;
  }
}
