@font-face {
  font-family: "Ubuntu normal";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Ubuntu-R.ttf") format("truetype"),
    url("../fonts/Ubuntu-R.woff") format("woff");
}
@font-face {
  font-family: "Next_Art normal";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/NEXT_ART_Regular.ttf") format("truetype"),
    url("../fonts/NEXT_ART_Regular.woff") format("woff");
}
