/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 1023px) {
}

// Mobile *******************************************************************************************
@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1::before,
  h1::after,
  h2::before,
  h2::after,
  .navbar,
  .header .work_schedule {
    display: none;
  }
  .header {
    flex-direction: column;
    & > div {
      margin-bottom: 20px !important;
    }
  }
  .logo {
    img {
      width: 285px;
    }
  }
  //  Burger Menu *******************************************************************************************

  .burger {
    display: block;
    width: 40px;
    height: 22px;
    position: relative;
    left: -13%;
    z-index: 3;
  }
  .burger span {
    position: absolute;
    background-color: $color_burger-menu;
    left: 0;
    width: 100%;
    height: 4px;
    top: 9px;
    @include transition;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: $color_burger-menu;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    @include transition;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
}
