/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 1023px) {
}

// Mobile *******************************************************************************************
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  h1::before,
  h1::after,
  h2::before,
  h2::after,
  .navbar,
  .header .work_schedule,
  .aboutUs__content .left,
  .reviews__slider .slider__item .item__img {
    display: none;
  }
  .header {
    flex-direction: column;
    & > div {
      margin-bottom: 20px !important;
    }
  }
  .logo {
    img {
      width: 285px;
    }
  }
  //  Burger Menu *******************************************************************************************

  .burger {
    display: block;
    width: 40px;
    height: 22px;
    position: relative;
    left: -10%;
    z-index: 3;
  }
  .burger span {
    position: absolute;
    background-color: $color_burger-menu;
    left: 0;
    width: 100%;
    height: 4px;
    top: 9px;
    @include transition;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: $color_burger-menu;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    @include transition;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .navbar {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: -100%;
    @include transition;
    ul {
      @include dspFlex;
      flex-direction: column;
      margin: 100px 0 0;
      justify-content: center;
      align-items: center;
      li {
        a {
          padding: 12px 0;
        }
      }
    }
  }
  .navbar.active {
    left: 0;
  }
  // modal
  .modal__header {
    h3 {
      font-size: 1.5em;
    }
  }
  .close-button {
    top: 12px;
    right: 10px;
  }
  // main
  .tab-header {
    flex-wrap: wrap;
  }
  .tab-header__item {
    margin: 0 0 15px;
  }
  .reviews__slider .slider__item .item__text {
    max-width: 320px;
    margin: 0 10px;
  }
  #reviews .content .btn-all__reviews {
    bottom: -45px;
  }
  .slick-dots li button::before {
    top: -2px;
  }
  .reviews__slider .slick-next {
    right: 36%;
  }
  .reviews__slider .slick-prev {
    left: 36%;
  }
  .map {
    min-width: 58%;
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      width: 1200px;
      height: 450px;
      position: absolute;
    }
  }

  #tab__slider-1,
  #tab__slider-2,
  #tab__slider-3,
  #slider {
    max-width: 310px;
    margin: 0 auto;
  }
  // project-cena
  .proekty__content {
    .item {
      margin: 20px auto;
    }
  }
  .all-category-products .slider__item {
    margin: 10px auto;
  }
  //  category-page

  #filtr .sizes ul li a {
    margin: 10px 3px 10px !important;
  }
  #filtr .sizes ul li:first-child a {
    margin: 10px 18px 10px -5px !important;
  }
  //card-product-page
  #cardProduct .head h1 {
    text-align: center;
  }
  .cardProduct__content {
    .options {
      flex-wrap: wrap;
      .left__options,
      .rigth__options {
        max-width: 320px;
        margin: 0 auto;
        .slider-nav {
          width: 320px;
        }
      }
    }
  }
  .price__options .btn_switcher,
  .price__options .btn_conteiner {
    flex-wrap: wrap;
  }
  .characteristics h4,
  .price__options h4 {
    text-align: center;
  }
  .characteristics ul li .description__left,
  .price__options ul li .description__left {
    width: 70%;
  }
  .specifications__btn_item {
    flex-direction: column;
  }
  .specifications h4 {
    text-align: center;
  }
  .specifications__description .content ul li {
    .description__quantity,
    .description__left {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  // footer
  #footer {
    .conteiner {
      flex-wrap: wrap;
      justify-content: center;
    }
    .contacts {
      text-align: center;
      .mail {
        margin: 15px 20px;
      }
    }
  }
  .footer__menu ul {
    margin: 20px 10px 0;
  }
  .social {
    margin-top: 20px;
  }
}
