@mixin input {
  border-radius: 5px;
  max-width: 365px;
  width: 100%;
  padding: 18px 0 18px 35px;
  margin-bottom: 11px;
  font-size: 1.5em;
  font-family: "Ubuntu normal";
}

@mixin textarea {
  width: 100%;
  height: 190px;
  resize: none;
  padding: 8px;
  font-size: 1.125em;
  font-family: "Ubuntu normal";
  border-radius: 3px;
}

@mixin input-review {
  width: 100%;
  padding: 8px;
  font-size: 1.125em;
  font-family: "Ubuntu normal";
  border-radius: 2px;
}
