.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 2px;
  box-shadow: 0px 0px 59px 0px rgba(35, 19, 0, 0.58);
  width: 100%;
  max-width: 1010px;
  z-index: 6;
  background-color: $color_modal_bg;
  @include transition-modal;
}
.close-button {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 4;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: $color_white;
  border-radius: 4px;
  span {
    position: absolute;
    top: 18px;
    right: 7px;
    width: 25px;
    height: 5px;
    background-color: $color_black;
    transform: rotate(-46deg);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 5px;
      background-color: $color_black;
      transform: rotate(90deg);
    }
  }
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  pointer-events: none;
  z-index: 4;
  @include transition-modal;
}
#overlay.active {
  opacity: 0.6;
  pointer-events: all;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-body {
  @include dspFlex;
  justify-content: center;
  align-items: center;
}
.modal__header {
  position: relative;
  background-color: #b0c8d1;
  h3 {
    font-size: 2.125em;
    color: $color_white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    font-family: "Next_Art normal";
    letter-spacing: 2px;
  }
}
.form_data {
  background-color: #cfdfdf;
}

.form-input__modal {
  @include dspFlex;
  justify-content: space-around;
  input[type="text"],
  input[type="tel"] {
    @include input;
    background: #ffffff;
    height: 40px;
    max-width: 220px;
    border-radius: 5px;
    color: #828282;
    margin: 10px 5px;
  }
  input[type="file"] {
    max-width: 220px;
    margin: 10px 0 10px 5px;
  }
  .left,
  .right {
    flex: 1 1 50%;
    @include dspFlex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }
}
input[type="submit"] {
  border: none;
  background: #39b549;
  color: white;
  border-radius: 50px;
  height: 40px;
  max-width: 220px;
  font-size: 1.25em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  @include transition;
  &:hover {
    opacity: 0.75;
  }
}
.about__order {
  @include dspFlex;
  color: $color_black;
  padding: 30px 40px 20px;
  .left,
  .right {
    flex: 1 1 50%;
  }
}
