#preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &:before,
  &:after {
    background-color: #000;
    content: "";
    height: calc(50% + 1px);
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

#preloader > .loader_line {
  margin: auto;
  width: 250px;
  height: 1px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#preloader > .loader_line:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 0%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}
#preloader > .loader_line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #777;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
@-webkit-keyframes lineheight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes lineheight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes lineround {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes lineround {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
} /*hiding all*/
.preloaded .loader_line:after {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.preloaded .loader_line {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100% !important;
}
.preloaded:before,
.preloaded:after {
  -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@-webkit-keyframes preloadedzero {
  0% {
    height: 50%;
  }
  100% {
    height: 0%;
  }
}
@keyframes preloadedzero {
  0% {
    height: 50%;
  }
  100% {
    height: 0%;
  }
}
