.page__description {
  padding: 10px 10px 0;
}
#ready__project {
  .type ul li:first-child a {
    padding: 10px 10px 0 0;
  }
  .all-category-products {
    padding: 10px 0;
    .slider__item {
      margin: 10px 9px;
      &:hover a {
        opacity: 0.85;
      }
    }
    ul {
      li {
        display: block;
        @include dspFlex;
        padding: 10px 5px;
        font-size: 0.9em;
        .description__name {
          display: inline-block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 102%;
            right: -9999px;
            bottom: 0;
            top: 0;
            border-bottom: 1px solid $color_btn-bg;
            opacity: 0.35;
          }
        }
        .description__left {
          overflow: hidden;
          width: 85%;
        }
        .description__quantity {
          color: $color_text-p;
          white-space: nowrap;
          font-weight: bold;
        }
      }
    }
  }
  .description__text {
    a {
      font-size: 1em;
      color: $color_btn-bg;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      p {
        line-height: 20px;
        padding: 0 20px 5px;
        color: $color_btn-bg;
        font-weight: bold;
      }
    }
  }
}
// video__reviews
#video__reviews {
  .video__reviews {
    width: 24%;
    margin: 20px 2.5px;
    @include boxShadow_video;
    iframe {
      height: 100%;
    }
  }
  .content {
    @include dspFlex;
    flex-wrap: wrap;
  }
}
#recommended #tab__slider-1 .slider__item {
  position: relative;
}
