.reviews__card-product {
  text-align: center;
}
.first__item {
  .description__quantity {
    max-width: 125px;
    width: 100%;
  }
}
.individual__review {
  background-color: $color_white;
  padding: 20px;
  line-height: 22px;
  @include boxShadow;
  .review,
  .review__signature {
  }
  .review__signature {
    margin-top: 10px;
    font-weight: bold;
  }
}
