.reviews__card-product {
  text-align: center;
}
.first__item {
  .description__quantity {
    white-space: nowrap;
    text-align: right;
  }
}
.individual__review {
  background-color: $color_white;
  padding: 20px;
  line-height: 22px;
  @include boxShadow;
  .review__signature {
    margin-top: 10px;
    font-weight: bold;
  }
}
