@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu normal";
  font-size: 16px;
}
.conteiner {
  max-width: $widthContent;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  border: 0;
  max-width: 100%;
}
.lock {
  overflow: hidden;
}
h1,
h2 {
  font-size: 2.25em;
  color: $color_text-headers;
  font-family: "Next_Art normal";
}
