// width
$widthContent: 1200px;
// colors
$color_white: rgb(255, 255, 255);
$color_black: rgb(17, 17, 17);
$color_container_bg: rgb(248, 251, 251);
$color_btn-bg: rgb(96, 143, 147);
$color_btnPopular-bg: rgb(57, 181, 73);
$color_btnPopular-bg-opacity: rgb(15, 134, 31);
$color_circle-advantage: rgb(57, 181, 74);
$color_danger: rgba(255, 0, 0, 100%);
$color_pseudo-el: rgb(237, 28, 36);
$color_link-hover: rgb(207, 223, 224);
$color_link-active: rgb(237, 28, 36);
$color_text-p: rgb(51, 51, 51);
$color_text-headers: rgb(0, 0, 0);
$color_footerLink-hover: rgb(237, 28, 36);
$color_footer-signature-bg: rgb(84, 90, 96);
$color_footer-signature: rgb(158, 170, 173);
$color_burger-menu: rgb(97, 97, 97);
$color_modal-title: rgb(97, 97, 97);
$color_modal_bg: rgb(255, 255, 255);
$color_pagination: rgb(191, 191, 189);
$color_pagination-active: rgb(57, 181, 74);
$color_filtr-item: rgb(207, 223, 224);
$color_filtr-item-hover: rgb(255, 255, 255);
